version: "3"

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    entrypoint: redis-server --appendonly yes

  postgres:
    image: postgis/postgis:15-3.4-alpine
    environment:
      POSTGRES_PASSWORD: openwisp2
      POSTGRES_USER: openwisp2
      POSTGRES_DB: openwisp2
    ports:
      - 5432:5432
