{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block breadcrumbs %}
{% if batch %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; <a href="{{ batch_changelist_url }}">{% trans 'Mass upgrade operations' %}</a>
  &rsaquo; <a href="{{ batch_change_url }}">{{ batch }}</a>
  &rsaquo; {{ original }}
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "firmware-upgrader/css/upgrade-progress.css" %}">
{% endblock extrahead %}

{% block footer %}
{{ block.super }}
<script type="text/javascript" src="{% static 'connection/js/lib/reconnecting-websocket.min.js' %}"></script>
<script>
  // Configuration for WebSocket connection
  var owFirmwareUpgraderApiHost = {
    host: "{{ request.get_host|escapejs }}"
  };
  var owUpgradeOperationCancelUrl = "{{ upgrade_operation_cancel_url }}";
  window.djangoLocale = "{{ django_locale|default:"en-us" }}";
</script>
<script type="text/javascript" src="{% static 'firmware-upgrader/js/upgrade-utils.js' %}"></script>
<script type="text/javascript" src="{% static 'firmware-upgrader/js/upgrade-progress.js' %}"></script>
{% endblock footer %}
