input.object-tools-button {
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    line-height: 20px;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    letter-spacing: 0.5px;
}
