#id_devicefirmware-0-upgrade_options_jsoneditor label {
  width: unset;
}
#id_devicefirmware-0-upgrade_options_jsoneditor input[type="checkbox"] {
  vertical-align: middle;
}
#devicefirmware-group .form-row.field-upgrade_options {
  display: none;
}
#devicefirmware-group .controls {
  display: none;
}
.field-readonly_upgrade_options .readonly-upgrade-options {
  margin-left: 0px;
  padding-left: 0px;
}
.readonly-upgrade-options li img {
  margin-right: 5px;
}
