form > div > div.form-row {
  display: none;
}
form .errorlist {
  margin-top: -10px;
}
.errorlist > li {
  visibility: hidden;
}
.errorlist ul li {
  visibility: visible;
}
.form-row-label {
  margin-bottom: 10px !important;
}
.form-row-filters {
  padding: 10px;
}
#ow-loading {
  display: flex;
}
