#content form .help {
  margin-top: 3px;
}
#content p.intro {
  margin-bottom: 20px;
}
#ow-loading {
  display: flex;
}
.jsoneditor-wrapper label {
  width: auto;
}
.jsoneditor-wrapper fieldset {
  margin-bottom: 0;
}
input.special {
  margin: 0 0 0 10px;
}
